* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --stone-900: #1c1917;
    --slate-200: #e2e8f0;
    --gray-100: #f9fafb;
    --gray-400: #9ca3af;
    --gray-700: #374151;
    --red-500: #ef4444;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--slate-200);
    color: var(--gray-700);
}

input,
textarea {
    padding: 12px;
    margin: 12px 0;
    font-family: 'Inter', sans-serif;
    background-color: white;
    border: 1px solid var(--gray-100);
    border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
    color: var(--gray-400);
    font-weight: bold;
}

.note-app__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 16px;
    background-color: var(--red-500);
}

.note-app-header__title a {
    color: white;
    text-decoration: none;
}

.note-app-header__navigation ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.note-app-header__navigation li a:hover {
    font-weight: bold;
}

.note-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.note-container > svg {
    font-size: 20px;
}

.note-container > h2 {
    margin-left: 16px;
    font-weight: bold;
}

.note-app__add-button {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--gray-700);
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.note-app__add-button svg {
    margin-right: 8px;
}

.note-app__add-button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--gray-100);
    transition: ease-in-out 0.3s;
}

.note-app-header__navigation a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.note-app__header h1 {
    margin: 8px 0;
    flex: 1;
    color: white;
}

.note-app__body {
    max-width: 1000px;
    margin: 16px auto;
    padding: 12px;
}

.note-input {
    margin: 0 auto;
    box-shadow: -4px 0px 45px -3px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-bottom: 48px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
}

.note-input input,
.note-input textarea {
    border: 1px solid var(--gray-700);
    display: block;
    width: 100%;
}

.note-input__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.note-input__title__char-limit {
    font-size: 14px;
    text-align: right;
    color: var(--gray-700);
}

.note-input__body {
    min-height: 175px;
}

.note-input button {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    color: var(--gray-700);
    border: 1px solid var(--gray-700);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.notes-list {
    border-radius: 16px;
    padding-block-start: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 16px;
    margin-bottom: 48px;
}

.notes-list__empty-message {
    text-align: center;
    color: #aaa;
}

.note-item {
    box-shadow: -4px 0px 45px -3px rgba(0, 0, 0, 0.1);
    background-color: var(--gray-100);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.note-item__content {
    max-height: 300px;
    overflow: auto;
    white-space: wrap;
    padding: 12px;
    flex: 1;
    color: var(--stone-900);
}

.note-item__title {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
}

.note-item__date {
    font-size: 12px;
    margin-bottom: 8px;
    color: #aaa;
}

.note-item__body {
    font-size: 14px;
}

.note-item__action {
    display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.note-item__delete-button {
    color: var(--gray-100);
    background-color: #ff5f52;
}

.note-item__archive-button {
    color: var(--gray-100);
    background-color: var(--gray-700);
}

.note-item__archive-button:hover {
    background-color: #374151db;
}

.note-item__delete-button:hover {
    background-color: #ff6152ca;
}

.not-found-page {
    text-align: center;
    margin-top: 48px;
}

.detail-page__title {
    font-size: 48px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.detail-page__body {
    line-height: 1.5;
    margin-top: 36px;
    font-size: 18px;
    margin-bottom: 24px;
}

.footer {
    text-align: center;
    padding: 16px;
    background-color: var(--gray-700);
    color: white;
    font-size: 14px;
}

@media only screen and (min-width: 500px) {
    .notes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .note-search input {
        min-width: 400px;
    }

    .note-app-header__title > a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .notes-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
